{% extends 'base.html' %}

{% block header %}
  <h4>{% block title %}Nuova attività{% endblock %}</h4>
  
{% endblock %}

{% block content %}

  <form method="post" onsubmit="afterSubmit()">
    <label for="order_desc">Ordine</label>
    <input name="order_desc" id="order_desc" type="text" value="{{ order_desc }}" readonly>
    <input name="order_id" id="order_id" type="text" value="{{ order_id }}" hidden>
    
    <label for="site_id">Sede</label>
    <SELECT id="site_id">
      {% for site in siteList %}
          <OPTION value={{site.id}}>{{site.id}} - {{site.city}} - {{site.address}}</option>
      {% endfor %}
    </SELECT>
    <label for="title">Titolo</label>
    <input name="title" id="title" value="{{ request.form['title'] }}">
    <label for="start">Data inizio attività</label>
    <input name="start" id="start" type="date" size="10" value="{{ request.form['start'] }}" onchange="setEndDate()" required>
    <label for="end">Data fine attività</label>
    <input name="end" id="end" type="date" size="10" value="{{ request.form['end'] }}" required>
    <label for="tag_ids">Tag</label></td>
    <SELECT id="tag_ids" name="tag_ids" multiple size="5"> 
              {% for tag in anag_tags %}
                <OPTION value={{tag.tag_id}}>{{tag.tag_desc}}</option>
              {% endfor %}
    </SELECT> 
    <br>
    <label for="description">Descrizione lavorazioni</label>
    <textarea name="description" id="description" rows="2">{{ request.form['description'] }}</textarea>
    <input name="input_site_id" id="input_site_id" hidden>
    <br>
    
    <input type="submit" value="Salva">
    <input class="action" style="height:30px; width:160px" type="button" onclick="goBack()" value="Annulla">
    <input name="goback" id="goback" value="{{ url_for('activity.index') }}" hidden>
  </form>
  <hr>
  
  <script type="text/javascript" src="/static/activity/common.js">  </script>
  <script>
    getComboSite();
  
    function goBack() {
      window.location.assign(document.getElementById("goback").value);
    }
  </script>

{% endblock %}
