{% extends 'base.html' %}
{% block header %}
  <h4>{% block title %}Galleria foto{% endblock %}</h4>
{% endblock %}
{% block content %}
<h2>Galleria Foto per: {{ act.full_name }} - {{ act.title }}</h2>

<div class="row">
    {% for foto in fotos %}
    <div class="col-md-4" style="margin-bottom: 20px; border: 1px solid #ddd; padding: 10px;">
        <a href="{{ url_for('activity.download_foto', filename=foto.filename) }}" target="_blank">
            <img src="{{ url_for('activity.download_foto', filename=foto.filename) }}" 
            class="img-fluid" 
            style="max-height: 250px; object-fit: contain;">
        </a>
                
        <p style="margin-top: 10px;">
            <strong>Data:</strong> {{ foto.date.strftime('%d/%m/%Y %H:%M') }}<br>
            <strong>GPS:</strong> {{ foto.latitude }}, {{ foto.longitude }}<br>
            <b>Note:</b> {{ foto.notes }}
            
        </p>
        
        <a href="https://www.google.com/maps?q={{ foto.latitude }},{{ foto.longitude }}" 
           target="_blank" class="btn btn-sm btn-info">
           Vedi su Mappa
        </a>
    </div>
    {% else %}
    <p>Nessuna foto presente per questa attività.</p>
    {% endfor %}
</div>
<table>
      <tr>
        <td>
          <input class="action" style="height:30px; width:160px" type="button" onclick="goBack()" value="Indietro">
          {% if show_calendar == "Y" %}
            <input name="goback" id="goback" value="{{ url_for('calendar.show_cal') }}" hidden>
          {% else %}
            <input name="goback" id="goback" value="{{ url_for('activity.index') }}" hidden>
            {% endif %}
        </td>
      </tr>
</table>
<script>
    function goBack() {
      window.location.assign(document.getElementById("goback").value);
    }

</script>
{% endblock %}
