{% extends 'base.html' %}

{% block header %}
  <h4>{% block title %}Nuova squadra{% endblock %}</h4>
  
{% endblock %}

{% block content %}

  <form method="post" onsubmit="afterSubmit()">
    <label for="title">Nome squadra</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="date">Data</label>
    <input name="date" id="date" type="date" size="10" value="{{ sel_date }}"  onblur="setTeamAct()" required>
    <label for="start_time">Orario d inizio</label>
    <input name="start_time" id="start_time" type="time" size="10" value="{{ request.form['start_time'] }}"  required>
    <label for="finish_time">Orario presunto di fine</label>
    <input name="finish_time" id="finish_time" type="time" size="10" value="{{ request.form['finish_time'] }}" >
    <label for="notes">Note</label>
    <textarea name="notes" id="notes" rows="1">{{ request.form['notes'] }}</textarea>
    <!-- Campi di appoggio per le griglie in JSON -->
    <input type="hidden" name="dati_jsGridAct_json" id="dati_jsGridAct_json">
    <input type="hidden" name="dati_jsGridPeople_json" id="dati_jsGridPeople_json">
    <input type="hidden" name="dati_jsGridTool_json" id="dati_jsGridTool_json">
    <br> 
    <!-- Grid per l'inserimento delle attività -->
    <h4>Attività</h4>
    <div id="jsGridAct"></div>
    <br>
    <!-- Grid per la selezione del personale-->
    <h4>Operatori previsti</h4>
    <div id="jsGridPeople"></div>
    <br>
    <!-- Grid per la selezione dei mezzi-->
    <h4>Mezzi previsti</h4>
    <div id="jsGridTool"></div>
    <button type="button" id="btn-put_tool_type" style="height:30px; width:160px">Popola categorie</button>
    <br>
    <input type="submit" value="Salva">
    <input class="action" style="height:30px; width:160px" type="button" onclick="goBack()" value="Annulla">
    <input name="goback" id="goback" value="{{ url_for('team.index') }}" hidden>
  </form>
  <hr>
   <script type="text/javascript" src="/static/team/common.js"></script>
  <script>
    var anag_acts = JSON.parse(`{{ anag_acts | default("[]") | safe }}`);
    var acts = JSON.parse(`{{ acts | default("[]") | safe }}`);
        $("#jsGridAct").jsGrid({
                    width: "40%",
                    height: "400px",
                    inserting: true, 
                    editing: true,
                    sorting: true,
                    paging: true,
                    data: acts,
                        
                    fields: [
                        { name: "act_id", title: "Attività", type: "select", items: anag_acts, valueField: "act_id", textField: "act_desc", width: "50%", align: "left" }, 
                        { type: "control" }
                    ]
                  });

    var anag_people = JSON.parse(`{{ anag_people | default("[]") | safe }}`);
    var people = JSON.parse(`{{ people | default("[]") | safe }}`);
    var team_people = people;
    $("#jsGridPeople").jsGrid({
            width: "40%",
            height: "400px",
            inserting: true, 
            editing: true,
            sorting: true,
            paging: true,
            data: team_people,
                
            fields: [
                { name: "id", title: "Operatore", type: "select", items: anag_people, valueField: "id", textField: "name", width: "50%", align: "left" }, 
                { type: "control" }
            ]
          });
        var anag_tool_type = JSON.parse(`{{ anag_tool_type | default("[]") | safe }}`);
        var anag_tools = JSON.parse(`{{ anag_tools | default("[]") | safe }}`);
        var tools = (`{{ tools | default("[]") | safe }}`);
        load_grid_tools(tools);  

    function goBack() {
      window.location.assign(document.getElementById("goback").value);
    }
  </script>

{% endblock %}
