{% extends 'base.html' %}
{% block header %}
  <h4>{% block title %}Dettaglio squadra{% endblock %}</h4>
{% endblock %}
{% block content %}
  <form>
    <input id="team_id" value="{{team['id'] }}" hidden>
    <label for="title">Nome squadra</label>
    <input name="title" id="title" value="{{team['title'] }}" readonly>
    <label for="date">Data</label>
    <input name="date" id="date" type="date" value="{{team['date'] }}" readonly>
    <label for="start_time">Orario d inizio</label>
    <input name="start_time" id="start_time" type="time" value="{{team['start_time'] }}" readonly>
    <label for="finish_time">Orario presunto di fine</label>
    <input name="finish_time" id="finish_time" type="time" value="{{ team['finish_time'] }}" readonly>
    <label for="notes">Note</label>
    <textarea name="notes" id="notes" readonly>{{ request.form['notes'] or team['notes'] }}</textarea>
    <input name="people_names" id="people_names" value="{{people_names}}" hidden>
    <input name="tool_names" id="tool_names" value="{{tool_names}}" hidden>
    <input name="act_descs" id="act_descs" value="{{act_descs}}" hidden>
  
    <br>
    <h4>Operatori previsti</h4>
    <div id="jsGridPeople"></div>
    <br>
    <h4>Mezzi previsti</h4>
    <div id="jsGridTool"></div>
    <br>
    <!-- Grid per la selezione delle attività -->
    <h4>Attività previste</h4>
    <div id="jsGridAct"></div>

      <table>
      <tr>
        <td>
          <input class="action" style="height:30px; width:160px" type="button" onclick="goBack()" value="Indietro">
          {% if show_calendar == "Y" %}
            <input name="goback" id="goback" value="{{ url_for('cal_team_planned.show_cal') }}" hidden>
          {% else %}
            <input name="goback" id="goback" value="{{ url_for('team.index') }}" hidden>
            {% endif %}
        </td>
        <td></td>
      </tr>
    </table>
    
  </form>
  <hr>
  <form action="{{ url_for('team.update', id=team['id']) }}" method="get">
    <input class="action" type="submit" value="Modifica">
  </form>
  <script>
    console.log("Sono nello script principale di detail.html");
        var people_names = document.getElementById("people_names").value;
        if (people_names != "" && people_names != null && people_names != "None") {
          console.log("sono nella if");
            var people_names_arr = people_names.split(",");
            var team_people = [];
            for (let i = 0; i < people_names_arr.length; i++) {
              var new_element = '{"name": "' + people_names_arr[i] + '"}';
              console.log(new_element);
              var new_object = JSON.parse(new_element);
              team_people.push(new_object);
            }  
            console.log(team_people);
          }
        var tool_names = document.getElementById("tool_names").value;
        if (tool_names != "" && tool_names != null && tool_names != "None") {
          console.log("sono nella if");
            var tool_names_arr = tool_names.split(",");
            var team_tool = [];
            for (let i = 0; i < tool_names_arr.length; i++) {
              var new_element = '{"name": "' + tool_names_arr[i] + '"}';
              console.log(new_element);
              var new_object = JSON.parse(new_element);
              team_tool.push(new_object);
            }  
            console.log(team_tool);
          }

        var team_act = [];
        var act_descs = document.getElementById("act_descs").value;
        if (act_descs != "" && act_descs != null && act_descs != "None") {
          console.log("sono nella if");
            var act_descs_arr = act_descs.split("|§|");
            for (let i = 0; i < act_descs_arr.length; i++) {
              var new_element = '{"name": "' + act_descs_arr[i] + '"}';
              console.log(new_element);
              var new_object = JSON.parse(new_element);
              team_act.push(new_object);
            }  
            console.log(team_act);
          }

          $("#jsGridPeople").jsGrid({
            width: "40%",
            height: "400px",
            inserting: false, 
            editing: false,
            sorting: true,
            paging: true,
            data: team_people,
                
            fields: [
                { name: "name", title: "Operatore", type: "text", width: "70%", align: "left" }
            ]
          });

          $("#jsGridTool").jsGrid({
            width: "40%",
            height: "400px",
            inserting: false, 
            editing: false,
            sorting: true,
            paging: true,
            data: team_tool,
                
            fields: [
                { name: "name", title: "Mezzo", type: "text", width: "70%", align: "left" }
            ]
          });

          $("#jsGridAct").jsGrid({
                    width: "40%",
                    height: "400px",
                    inserting: false, 
                    editing: false,
                    sorting: true,
                    paging: true,
                    data: team_act,
                        
                    fields: [
                        { name: "name", title: "Attività", type: "text", width: "70%", align: "left" }, 
                    ]
                  });

    function goBack() {
      window.location.assign(document.getElementById("goback").value);
    }
  </script>

{% endblock %}
