{% extends 'base.html' %}

{% block header %}
  <h4>{% block title %}Nuovo utilizzo mezzi{% endblock %}</h4>
  
{% endblock %}

{% block content %}

  <form method="post" onsubmit="afterSubmitCreate()">
    <table>
      <tr>
        <td><label for="date">Data</label></td>
        <td><input name="date" id="date" type="date" value="{{ request.form['date'] }}" onblur="setComboActs2()" required></td>
      </tr>
    </table>
    <!-- Campi di appoggio per le griglie in JSON -->
    <input type="hidden" name="dati_griglia_json1" id="dati_griglia_json1">
    <input type="hidden" name="dati_griglia_json2" id="dati_griglia_json2">
    <!-- Grid per l'inserimento delle ore-->
    <h4>Mezzi utilizzati a ore</h4> 
    <div id="jsGrid1"></div>
    <br>
    <h4>Mezzi utilizzati a Km</h4> 
    <div id="jsGrid2"></div>
    <br>
    <input type="submit" value="Salva">
    <input class="action" style="height:30px; width:160px" type="button" onclick="goBack()" value="Annulla">
    <input name="goback" id="goback" value="{{ url_for('tool_usage.index') }}" hidden>
  </form>
  <script type="text/javascript" src="/static/tool_usage/common.js"></script>
  <script>
    document.getElementById("date").valueAsDate = new Date();
    var anag_tools1 = JSON.parse(`{{ anag_tools1 | default("[]") | safe }}`);
    var anag_tools2 = JSON.parse(`{{ anag_tools2 | default("[]") | safe }}`);
    var acts = JSON.parse(`{{ acts | default("[]") | safe }}`);
    load_grid1(anag_tools1,acts);
    load_grid2(anag_tools2,acts);

    function goBack() {
        window.location.assign(document.getElementById("goback").value);
      }
   </script>

{% endblock %}
