{% extends 'base.html' %}
{% block header %}
  <h4>{% block title %}Dettaglio utilizzo mezzo{% endblock %}</h4>
{% endblock %}

{% block content %}
<form>
  <label for="date">Data</label>
  <input name="date" id="date" type="date" value="{{ tu_record['date'] }}" readonly>
  <label for="tool_id">Mezzo</label>
  <SELECT id="tool_id" name="tool_id" disabled>
    {% for tool in anag_tools %}
      {% if tool.tool_id == tu_record.tool_id %}
      <OPTION value={{tool.tool_id}} selected>{{tool.tool_name}}</option>
      {% else %}
        <OPTION value={{tool.tool_id}}>{{tool.tool_name}}</option>
      {% endif %}
    {% endfor %}
  </SELECT>
  
  <label for="act_id">Attività</label>
  <SELECT id="act_id" name="act_id" disabled>
    <OPTION value="" disabled="disabled" selected></option>
    {% for act in acts %}
      {% if act.act_id == tu_record.act_id %}
       <OPTION value={{act.act_id}} selected>{{act.act_desc}}</option>
      {% else %}
        <OPTION value={{act.act_id}}>{{act.act_desc}}</option>
      {% endif %}
    {% endfor %}
  </SELECT> 
  <table>
    <tr>
      <td><label for="ore_lav">Ore</label></td>
    </tr>
    <tr>
      <td><input name="ore_lav" id="ore_lav" type="number" step="0.1" value="{{ request.form['ore_lav']  or tu_record['ore_lav'] }}" readonly></td>
    </tr>  
    <tr>
      <td><label for="km">Km</label></td>
    </tr>
    <tr>
      <td><input name="km" id="km" type="number" step="1" value="{{ request.form['km']  or tu_record['km'] }}" readonly></td>
    </tr> 
  </table>
</form>
  
<table>
  <tr>
    <td>
      <input class="action" style="height:30px; width:160px" type="button" onclick="goBack()" value="Indietro">
      <input name="goback" id="goback" value="{{ url_for('tool_usage.index') }}" hidden>
    </td>
    <td></td>
  </tr>
</table>
<script>
  function goBack() {
    window.location.assign(document.getElementById("goback").value);
    }
</script>
{% endblock %}
