{% extends 'base.html' %}

{% block header %}
  <h4>{% block title %}Modifica utilizzo mezzo{% endblock %}</h4>
  
{% endblock %}

{% block content %}

<form method="post">
  <label for="date">Data</label>
  <input name="date" id="date" type="date" value="{{ request.form['date']  or tu_record['date'] }}" onblur="setComboActs()" required>
  <label for="tool_id">Mezzo</label>
  <SELECT id="tool_id" name="tool_id" required>
    {% for tool in anag_tools %}
      {% if tool.tool_id == tu_record.tool_id %}
      <OPTION value={{tool.tool_id}} selected>{{tool.tool_name}}</option>
      {% else %}
        <OPTION value={{tool.tool_id}}>{{tool.tool_name}}</option>
      {% endif %}
    {% endfor %}
  </SELECT>
  
  <label for="act_id">Attività</label>
  <SELECT id="act_id" name="act_id">
      <OPTION value="" disabled="disabled" selected>Selezionare un'attività</option>
      {% for act in acts %}
        {% if act.act_id == tu_record.act_id %}
        <OPTION value={{act.act_id}} selected>{{act.act_desc}}</option>
        {% else %}
          <OPTION value={{act.act_id}}>{{act.act_desc}}</option>
        {% endif %}
      {% endfor %}
  </SELECT> 
  <table>
    <tr>
      <td><label for="ore_lav">Ore</label></td>
    </tr>
    <tr>
      <td><input name="ore_lav" id="ore_lav" type="number" step="0.1" value="{{ request.form['ore_lav']  or tu_record['ore_lav'] }}"></td>
    </tr>  
    <tr>
      <td><label for="km">Km</label></td>
    </tr>
    <tr>
      <td><input name="km" id="km" type="number" step="1" value="{{ request.form['km']  or tu_record['km'] }}"></td>
    </tr>  
  </table>
  <input type="submit" value="Salva">
  <input class="action" style="height:30px; width:160px" type="button" onclick="goBack()" value="Annulla">
    <input name="goback" id="goback" value="{{ url_for('tool_usage.index') }}" hidden>
</form>
<form action="{{ url_for('tool_usage.delete', id=tu_record['id']) }}" method="post">
    <input class="danger" type="submit" value="Elimina" onclick="return confirm('Sei sicuro di eliminare questo utilizzo?');">
  </form>
<hr>
<script>
  function goBack() {
    window.location.assign(document.getElementById("goback").value);
  }
</script>
<script type="text/javascript" src="/static/tool_usage/common.js"></script>
{% endblock %}
