{% extends 'base.html' %}

{% block header %}
  <h4>{% block title %}Nuova consuntivazione giornaliera{% endblock %}</h4>
  
{% endblock %}

{% block content %}

  <form method="post" onsubmit="afterSubmit()">
    <label for="date">Data</label>
    <input name="date" id="date" type="date" value="{{ request.form['date'] }}" onblur="setComboActs2()" required>
    <input name="input_people_id" id="input_people_id" value="{{people.id}}" hidden>
    
    <!-- Campo di appoggio per la griglia in JSON -->
    <input type="hidden" name="dati_griglia_json" id="dati_griglia_json">

    <!-- Grid per l'inserimento delle ore-->
    <h4>Presenze</h4>
    <div id="jsGrid"></div>
    <br>
    <input type="submit" value="Salva">
    <input class="action" style="height:30px; width:160px" type="button" onclick="goBack()" value="Annulla">
    <input name="goback" id="goback" value="{{ url_for('accounting_hours.index') }}" hidden>
  </form>
  <script type="text/javascript" src="/static/accounting_hours/common.js"></script>
  <script>
    document.getElementById("date").valueAsDate = new Date();
    var act_types = JSON.parse('{{ act_types | default("[]") | safe }}');
    var acts = JSON.parse('{{ acts | default("[]") | safe }}');
    load_grid(act_types,acts);

    function goBack() {
      window.location.assign(document.getElementById("goback").value);
    }
</script>
  <hr>

{% endblock %}
