{% extends 'base.html' %}
{% block header %}
  <h4>{% block title %}Dettaglio consuntivazione giornaliera{% endblock %}</h4>
{% endblock %}

{% block content %}
<form>
  <label for="date">Data</label>
  <input name="date" id="date" type="date" value="{{ request.form['date']  or ts_record['date'] }}" readonly>
  <label for="people_id">Persona</label>
  <SELECT id="people_id" disabled>
    {% for people in anag_people %}
      {% if people.id == ts_record['people_id'] %}
      <OPTION value={{people.id}} selected>{{people.name}}</option>
      {% else %}
        <OPTION value={{people.id}}>{{people.name}}</option>
      {% endif %}
    {% endfor %}
  </SELECT>
  <label for="act_type_id">Tipo di presenza/assenza</label>
  <SELECT id="act_type_id" name="act_type_id" disabled> 
    {% for act_type in act_types %}
      {% if act_type.act_type_id == ts_record.act_type_id %}
        <OPTION value={{act_type.act_type_id}} selected>{{act_type.act_type_desc}}</option>
      {% else %}
        <OPTION value={{act_type.act_type_id}}>{{act_type.act_type_desc}}</option>
      {% endif %}
    {% endfor %}
  </SELECT>
  <label for="act_id">Attività</label>
  <SELECT id="act_id" name="act_id" disabled>
    {% if ts_record.act_type_id == 1 %}
      {% for act in acts %}
        {% if act.act_id == ts_record.act_id %}
          <OPTION value={{act.act_id}} selected>{{act.act_desc}}</option>
        {% else %}
          <OPTION value={{act.act_id}}>{{act.act_desc}}</option>
        {% endif %}
      {% endfor %}
    {% endif %}
  </SELECT> 
  <table>
    <tr>
      <td><label for="ore_lav">Ore</label></td>
      <td><label for="night">Notturno</label></td>
    </tr>
    <tr>
      <td><input name="ore_lav" id="ore_lav" type="number" step="0.1" value="{{ request.form['ore_lav']  or ts_record['ore_lav'] }}" readonly></td>
      <td>
        {% if ts_record['night'] == 1 %} <input type="checkbox" value="1" checked disabled> {% endif %}
        {% if ts_record['night'] != 1 %} <input type="checkbox" value="0"  disabled> {% endif %}
      </td>
    </tr>  
  </table>
</form>
  
<table>
  <tr>
    <td> 
      <input class="action" style="height:30px; width:160px" type="button" onclick="goBack()" value="Indietro">
      <input name="goback" id="goback" value="{{ url_for('accounting_hours.index') }}" hidden>
    </td>
    <td></td>
  </tr>
</table>

<script>
  function goBack() {
    window.location.assign(document.getElementById("goback").value);
  }
</script>
{% endblock %}
