{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<h4>Foglio presenze di {{ g.user }}</h4>

<div class="table">
  <table>
    <tr>
      <td>{{ pagination.info }}</td>
    </tr>
    <tr>
      <td>{{ pagination.links }}</td>
      <td><a href="{{ url_for('accounting_hours.create') }}"><img src="static/images/add.jpg" alt="Nuova consuntivazione" style="width:42px;height:42px;"></a></td>
    </tr>
  </table>
</div>
<div class="table-striped">
  <table>
    <th>Data</th><th>Tipo</th><th>Persona</th><th>Ordine</th><th>Ore</th><th></th>
  {% for ts_record in ts_records %}       
        <tr>
          <td>{{ ts_record['date'] }} </td> <td>{{ ts_record['act_type'] }}</td> <td>{{ ts_record['p_name'] }}</td> <td style="text-align: left">{{ ts_record['p_order'] }}</td> <td>{{ ts_record['ore_lav'] }}</td>
          <td>
            <a href="{{ url_for('accounting_hours.detail', id=ts_record['id']) }}"><img src="static/images/detail.jpg" alt="Dettaglio" style="width:25px;height:25px;"></a>
            <br/>
            <a href="{{ url_for('accounting_hours.update', id=ts_record['id']) }}"><img src="static/images/update.jpg" alt="Modifica" style="width:25px;height:25px;"></a>
          </td>
        </tr>        
  {% endfor %}
  </table>
</div>
<div class="table">
  <table>
    <tr>
      <td><a href="{{ url_for('accounting_hours.create') }}"><img src="static/images/add.jpg" alt="Nuova consuntivazione" style="width:42px;height:42px;"></a></td>
    </tr>
    <tr>
      <td>{{ pagination.links }}</td>
    </tr>
  </table>
</div>

{% endblock %}