{% extends 'base.html' %}

{% block header %}
  <h4>{% block title %}Modifica consuntivazione{% endblock %}</h4>
  
{% endblock %}

{% block content %}
 
<form method="post" onsubmit="afterSubmitUpdate()">
  <label for="date">Data</label>
  <input name="date" id="date" type="date" value="{{ request.form['date']  or ts_record['date'] }}" onblur="setComboActs()" required>
  <label for="act_type_id">Tipo di presenza/assenza</label>
  <SELECT id="act_type_id" name="act_type_id" onchange="setComboActs()" required> 
    {% for act_type in act_types %}
      {% if act_type.act_type_id == ts_record.act_type_id %}
        <OPTION value={{act_type.act_type_id}} selected>{{act_type.act_type_desc}}</option>
      {% else %}
        <OPTION value={{act_type.act_type_id}}>{{act_type.act_type_desc}}</option>
      {% endif %}
    {% endfor %}
  </SELECT>
  
  <label for="act_id">Attività</label>
  <SELECT id="act_id" name="act_id">
    {% if ts_record.act_type_id == 1 %}
      {% for act in acts %}
        {% if act.act_id == ts_record.act_id %}
          <OPTION value={{act.act_id}} selected>{{act.act_desc}}</option>
        {% else %}
          <OPTION value={{act.act_id}}>{{act.act_desc}}</option>
        {% endif %}
      {% endfor %}
    {% endif %}
  </SELECT> 
  <table>
    <tr>
      <td><label for="ore_lav">Ore</label></td>
      <td><label for="night">Notturno</label></td> 
    </tr>
    <tr>
      <td><input name="ore_lav" id="ore_lav" type="number" step="0.1" value="{{ request.form['ore_lav']  or ts_record['ore_lav'] }}"></td>
      <td>
        {% if ts_record['night'] == 1 %} <input name="night" id="night" type="checkbox" checked> {% endif %}
        {% if ts_record['night'] != 1 %} <input name="night" id="night" type="checkbox"> {% endif %}
      </td>
    </tr>  
  </table>

  <input type="submit" value="Salva">
  <input class="action" style="height:30px; width:160px" type="button" onclick="goBack()" value="Annulla">
    <input name="goback" id="goback" value="{{ url_for('accounting_hours.index') }}" hidden>
</form>
<form action="{{ url_for('accounting_hours.delete', id=ts_record['id']) }}" method="post">
    <input class="danger" type="submit" value="Elimina" onclick="return confirm('Sei sicuro di eliminare questa consuntivazione?');">
  </form>
<hr>
<script>
  function goBack() {
    window.location.assign(document.getElementById("goback").value);
  }
</script>
<script type="text/javascript" src="/static/accounting_hours/common.js"></script>

{% endblock %}
