{% extends 'base.html' %}
{% block header %}
  <h4>{% block title %}Dettaglio mezzo{% endblock %}</h4>
{% endblock %}

{% block content %}
  <form>
    <label for="tool_type_id">Tipo di mezzo</label>
    <SELECT id="tool_type_id" disabled>
      <OPTION value="" disabled="disabled" selected>Selezionare un tipo di mezzo</option>
      {% for tool_type in tool_typeList %}
        {% if tool_type.id == tool['tool_type_id'] %}
          <OPTION value={{tool_type.id}} selected>{{tool_type.type}}</option>
        {% else %}
          <OPTION value={{tool_type.id}}>{{tool_type.type}}</option>
        {% endif %}
      {% endfor %}
    </SELECT>
    <label for="brand">Marca</label>
    <input name="brand" id="brand" type=text value="{{ request.form['brand'] or tool['brand'] }}" readonly>
    <label for="model">Modello</label>
    <input name="model" id="model" type="text" value="{{ request.form['model'] or tool['model'] }}" readonly>
    <label for="serial_number">Serie o telaio</label>
    <input name="serial_number" id="serial_number" type="text" value="{{ request.form['serial_number'] or tool['serial_number'] }}" readonly>
    <label for="license_plate">Targa</label>
    <input name="license_plate" id="license_plate" type="text" value="{{ request.form['license_plate'] or tool['license_plate'] }}" readonly>
    <label for="notes">Note</label>
    <textarea name="notes" id="notes" rows="2" readonly>{{ request.form['notes']  or tool['notes'] }}</textarea>
    <input name="discontinued" id="discontinued" type="text" value="{{tool['discontinued'] }}" hidden>
    <table> 
      <tr>
        <td>
          <label for="radio1">In uso</label>
          <input name="discontinued" id="radio1" type="radio" value="0" disabled>
        </td>
        <td>
            <label for="radio2">Dismesso</label>
            <input name="discontinued" id="radio2" type="radio" value="1" disabled>
        </td>
      </tr>
    </table>
    
    <input name="input_tool_type_id" id="input_tool_type_id" hidden>
  <table>
    <tr>
      <td>
        <input class="action" style="height:30px; width:160px" type="button" onclick="goBack()" value="Indietro">
          <input name="goback" id="goback" value="{{ url_for('tool.index') }}" hidden>
      </td>
      <td></td>
    </tr>
  </table>
  </form>
  <hr>
  <script>
    const discontinued = document.getElementById("discontinued").value;
    if (discontinued == "0") { radio1.setAttribute("checked", "");  }
    else { radio2.setAttribute("checked", "");}
    function goBack() {
      window.location.assign(document.getElementById("goback").value);
    }
  </script>
{% endblock %}
