{% extends 'base.html' %}

{% block header %}

{% endblock %}
{% block content %}
<h4>Mezzi</h4>

  <div class="table">
    <table>
      <tr>
        <td>{{ pagination.info }}</td>
      </tr>
      <tr>
        <td>{{ pagination.links }}</td>
        <td>
          <a href="{{ url_for('tool.create') }}"><img src="static/images/add.jpg" alt="Nuovo mezzo" style="width:42px;height:42px;"></a>
        </td>
      </tr>
    </table>
  </div>
  
  <div class="table-striped">
    <table>
      <tr>
        <th>Mezzo</th><th>Tipo</th><th>Cespite</th><th>Inail</th><th>Dismesso</th><th></th>
      </tr>
      {% for tool in tools %}
      <tr>
        <td>{{ tool['tool_name'] }}</td><td>{{ tool['type'] }}</td><td>{% if tool.asset == 1 %} <input type="checkbox" checked disabled> {% endif %}</td><td>{% if tool.inail == 1 %} <input type="checkbox" checked disabled> {% endif %}</td><td>{% if tool.discontinued == 1 %} <input type="checkbox" checked disabled> {% endif %}</td>
        <td>
          <a href="{{ url_for('tool.detail', id=tool['id']) }}"><img src="static/images/detail.jpg" alt="Dettaglio" style="width:25px;height:25px;"></a>
          <br/>
          <a href="{{ url_for('tool.update', id=tool['id']) }}"><img src="static/images/update.jpg" alt="Modifica" style="width:25px;height:25px;"></a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="table">
    <table>
      <tr>
        <td>{{ pagination.links }}</td>
      </tr>
    </table>
  </div>
  <form id="SearchForm" method="post">
    <div class="table">
    <table>
      <tr>
        <td>Mezzo</td>
        <td><input name="search" id="search" size="12" type="text" value="{{ request.form['search'] }}"></td>        
      </tr>
      <tr>
        <td>
          <input type="submit" value="Cerca">
        </td>
        <td>
          <input type="button" onclick="resetSearch()" value="Ripristina">
          <a href="{{ url_for('tool.create') }}"><img src="static/images/add.jpg" alt="Nuovo mezzo" style="width:42px;height:42px;"></a>
        </td>
      </tr>
    </table>
  </div>
  </form>
  
  <script>
    function resetSearch() {
      document.getElementById("search").value = "";
      document.getElementById("SearchForm").submit();
    }
    
  </script>
{% endblock %}