{% extends 'base.html' %}

{% block header %}
  <h4>{% block title %}Nuovo collaboratore{% endblock %}</h4>
  
{% endblock %}

{% block content %}

  <form method="post">
    <label for="surname">Cognome</label>
    <input name="surname" id="surname" type=text value="{{ request.form['surname'] }}" required>
    <label for="name">Nome</label>
    <input name="name" id="name" type="text" value="{{ request.form['name'] }}" required>
    <label for="type">Tipo di collaborazione</label>
    <SELECT name="type" id="type" onchange="controllaValore()">
      <OPTION value="" selected>Selezionare il tipo di collaborazione</option>
      {% for people_type in people_types %}
          <OPTION value={{people_type.short_name}}>{{people_type.name}}</option>
      {% endfor %}
    </SELECT>
    <br>
    <div id="div_gg_week_paga" style="display: none;">
      <label for="gg_week_paga" style="display: block;">Giorni presenza</label>
      <SELECT name="gg_week_paga" id="gg_week_paga" multiple size="5">
        {% for gg in gg_week_numbers %}
            <OPTION value={{gg}}>{{gg_week_descs[gg]}}</option>
        {% endfor %}
      </SELECT>   
    </div>
    <div id="div_gg_paga" style="display: none;">
      <label for="gg_paga">Numero giornate</label>
      <input name="gg_paga" id="gg_paga" type="text" value="{{ request.form['gg_paga'] }}">
    </div>
    <br>
    <label for="parttime">Numero ore part-time (0 se full-time)</label>
    <input type="number" name="parttime" id="parttime" min="0" max="7" step="0.1" value="{{ request.form['parttime'] }}"/>
    <br>
    <label for="user_id">Utente</label>
    <SELECT name="user_id" id="user_id">
      <OPTION value="" selected></option>
      {% for user in userList %}
          <OPTION value={{user.id}}>{{user.username}}</option>
      {% endfor %}
    </SELECT>
    <br>
    <table>
      <tr>
        <td>
          <label for="radio1">Collaborazione attiva</label>
          <input name="cessato" id="radio1" type="radio" value="0" checked>
        </td>
        <td>
            <label for="radio2">Collaborazione cessata</label>
            <input name="cessato" id="radio2" type="radio" value="1">
        </td>
      </tr>
      <tr>
        <td>
          <label for="radio3">Straordinari No</label>
          <input name="overtime" id="radio3" type="radio" value="0"  checked> 
        </td>
        <td>
            <label for="radio4">Straordinari Sì</label>
            <input name="overtime" id="radio4" type="radio" value="1">
        </td>
      </tr>
    </table>
    
  <table>
    <tr>
      <td>
        <input type="submit" value="Salva">
      </td>
    </tr>
    <tr>
      <td>
        <input class="action" style="height:30px; width:160px" type="button" onclick="goBack()" value="Indietro">
        <input name="goback" id="goback" value="{{ url_for('people.index') }}" hidden>
      </td>
    </tr>
  </table>
  </form>
  <hr>
  <script> 
    function goBack() {
      window.location.assign(document.getElementById("goback").value);
    }

    function controllaValore() {
      var select = document.getElementById("type");

      var div = document.getElementById("div_gg_week_paga");
      if (select.value === "P") {
          div.style.display = "block"; // Mostra il tag
      } else {
          div.style.display = "none";  // Nascondi il tag
      }
      var div = document.getElementById("div_gg_paga");
      if (select.value === "O") {
          div.style.display = "block"; // Mostra il tag
      } else {
          div.style.display = "none";  // Nascondi il tag
      }
    }
  
  </script>

{% endblock %}
