{% extends 'base.html' %}
{% block header %}
  <h4>{% block title %}Dettaglio collaboratore{% endblock %}</h4>
{% endblock %}

{% block content %}
  <form>
    <label for="surname">Cognome</label>
    <input name="surname" id="surname" type=text value="{{ request.form['surname'] or people['surname'] }}" readonly>
    <label for="name">Nome</label>
    <input name="name" id="name" type="text" value="{{ request.form['name'] or people['name'] }}" readonly>
    <label for="type">Tipo di collaborazione</label>
    <SELECT name="type" id="type" disabled>
      <OPTION value="" disabled="disabled" selected>Selezionare il tipo di collaborazione</option>
      {% for people_type in people_types %}
        {% if people_type.short_name == people['type'] %}
          <OPTION value={{people.type}} selected>{{people_type.name}}</option>
        {% else %}
          <OPTION value={{people.type}}>{{people_type.name}}</option>
        {% endif %}
      {% endfor %}
    </SELECT>
    <br>
    {% if people.type in ('P', 'O') %}
      <label for="gg_week_available">Giorni disponibili</label>
      {% set available_days = gg_week_available_arr_int | default([], true) %}
      <select name="gg_week_available" id="gg_week_available" multiple size="5" disabled>
      {% for gg in gg_week_numbers %}
        {% if gg in available_days %}
          <option value="{{gg}}" selected>{{gg_week_descs[gg]}}</option>
        {% else %}
          <option value="{{gg}}">{{gg_week_descs[gg]}}</option>
        {% endif %}
      {% endfor %}
      </select> 
      <label for="gg_paga">Numero giornate</label>
      <input name="gg_paga" id="gg_paga" type="text" value="{{ people['gg_paga'] }}" readonly>
      <label for="periodo_gg_paga">Periodo</label>
      <SELECT name="periodo_gg_paga" id="periodo_gg_paga" disabled>
        {% if people.periodo_gg_paga == 'M' %}
          <OPTION value='M' selected>Mese</OPTION>
          <OPTION value='W'>Settimana</OPTION>
        {% else %} 
            <OPTION value='M'>Mese</OPTION>
            <OPTION value='W' selected>Settimana</OPTION>
        {% endif %}
      </SELECT>
    {% endif %}  
    <br>
    <label for="parttime">Numero ore part-time (0 se full-time)</label>
    <input type="number" name="parttime" id="parttime" value="{{ people['parttime'] }}" readonly/>
    <br>
    <label for="user_id">Utente</label>
    <SELECT name="user_id" id="user_id" disabled>
      <OPTION value="" disabled="disabled" selected></option>
      {% for user in userList %}
        {% if user.id == people['user_id'] %}
          <OPTION value={{user.id}} selected>{{user.username}}</option>
        {% else %}
          <OPTION value={{user.id}}>{{user.username}}</option>
        {% endif %}
      {% endfor %}
    </SELECT>
    <br>
    <table>
      <tr>
        <td>
          <label for="radio1">Collaborazione attiva</label>
          <input name="cessato" id="radio1" type="radio" value="0" disabled
                {% if people['cessato']|string == '0' or not people['cessato'] %}checked{% endif %}>
        </td>
        <td>
            <label for="radio2">Collaborazione cessata</label>
            <input name="cessato" id="radio2" type="radio" value="1" disabled 
                  {% if people['cessato']|string == '1' %}checked{% endif %}>
        </td>
      </tr>
      <tr>
        <td>
          <label for="radio3">Straordinari No</label>
          <input name="overtime" id="radio3" type="radio" value="0" disabled
                {% if people['overtime']|string == '0' or not people['overtime'] %}checked{% endif %}>
        </td>
        <td>
            <label for="radio4">Straordinari Sì</label>
            <input name="overtime" id="radio4" type="radio" value="1" disabled
                  {% if people['overtime']|string == '1' %}checked{% endif %}>
        </td>
      </tr>
    </table>
  <table>
    <tr>
      <td>
        <input class="action" style="height:30px; width:160px" type="button" onclick="goBack()" value="Indietro">
          <input name="goback" id="goback" value="{{ url_for('people.index') }}" hidden>
      </td>
      <td></td>
    </tr>
  </table>
  </form>
  <hr>
  <script>
    function goBack() {
      window.location.assign(document.getElementById("goback").value);
    }
  </script>
{% endblock %}
