{% extends 'base.html' %}

{% block header %}
  <h4>{% block title %}Modifica anagrafica collaboratore{% endblock %}</h4>
  
{% endblock %}

{% block content %}

  <form method="post">
    <label for="surname">Cognome</label>
    <input name="surname" id="surname" type=text value="{{ request.form['surname'] or people['surname'] }}">
    <label for="name">Nome</label>
    <input name="name" id="name" type="text" value="{{ request.form['name'] or people['name'] }}">
    <label for="type">Tipo di collaborazione</label>
    <SELECT name="type" id="type" onchange="controllaValore()">
      <OPTION value="" selected>Selezionare il tipo di collaborazione</option>
      {% for people_type in people_types %}
        {% if people_type.short_name == people['type'] %}
          <OPTION value={{people_type.short_name}} selected>{{people_type.name}}</option>
        {% else %}
          <OPTION value={{people_type.short_name}}>{{people_type.name}}</option>
        {% endif %}
      {% endfor %}
    </SELECT> 
    <br>
    <div id="div_p_o" style="display: none;">
        <label for="gg_week_available" style="display: block;">Giorni disponibili</label>
        <SELECT name="gg_week_available" id="gg_week_available" multiple size="5">
            {% for gg in gg_week_numbers %}
              {% if gg_week_available_arr_int and gg in gg_week_available_arr_int %}
                <OPTION value={{gg}} selected>{{gg_week_descs[gg]}}</option>
              {% else %}
                <OPTION value={{gg}}>{{gg_week_descs[gg]}}</option>
              {% endif %}
            {% endfor %}
        </SELECT>
    <br>
      <label for="gg_paga">Numero giornate</label>
      <input name="gg_paga" id="gg_paga" type="text" value="{{ request.form['gg_paga'] or people['gg_paga'] }}">
      <label for="periodo_gg_paga">Periodo</label>
      <SELECT name="periodo_gg_paga" id="periodo_gg_paga">
        {% if people.periodo_gg_paga == 'M' %}
          <OPTION value='M' selected>Mese</OPTION>
          <OPTION value='W'>Settimana</OPTION>
        {% else %} 
          <OPTION value='M'>Mese</OPTION>
          <OPTION value='W' selected>Settimana</OPTION>
        {% endif %}
      </SELECT>
    </div>
    <br>
    <label for="parttime">Numero ore part-time (0 se full-time)</label>
    <input type="number" name="parttime" id="parttime" min="0" max="7" step="0.1" value="{{ request.form['parttime'] or people['parttime'] }}"/>

    <label for="user_id">Utente</label>
    <SELECT name="user_id" id="user_id"> 
      <OPTION value="" selected></option>
      {% for user in userList %}
        {% if user.id == people['user_id'] %}
          <OPTION value={{user.id}} selected>{{user.username}}</option>
        {% else %}
          <OPTION value={{user.id}}>{{user.username}}</option>
        {% endif %}
      {% endfor %}
    </SELECT>
    <br>
    <table>
      <tr>
        <td>
          <label for="radio1">Collaborazione attiva</label>
          <input name="cessato" id="radio1" type="radio" value="0" 
                {% if people['cessato']|string == '0' or not people['cessato'] %}checked{% endif %}>
        </td>
        <td>
            <label for="radio2">Collaborazione cessata</label>
            <input name="cessato" id="radio2" type="radio" value="1" 
                  {% if people['cessato']|string == '1' %}checked{% endif %}>
        </td>
      </tr>
      <tr>
        <td>
          <label for="radio3">Straordinari No</label>
          <input name="overtime" id="radio3" type="radio" value="0" 
                {% if people['overtime']|string == '0' or not people['overtime'] %}checked{% endif %}>
        </td>
        <td>
            <label for="radio4">Straordinari Sì</label>
            <input name="overtime" id="radio4" type="radio" value="1" 
                  {% if people['overtime']|string == '1' %}checked{% endif %}>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td>
          <input type="submit" value="Salva">
        </td>
      </tr>
      <tr>
        <td>
          <input class="action" style="height:30px; width:160px" type="button" onclick="goBack()" value="Indietro">
          <input name="goback" id="goback" value="{{ url_for('people.index') }}" hidden>
        </td>
      </tr>
    </table>
  </form>
  <form action="{{ url_for('people.delete', id=people['id']) }}" method="post">
    <input class="danger" type="submit" value="Elimina" onclick="return confirm('Sei sicuro di eliminare questo collaboratore?');">
  </form>
  <hr>
  <script> 
    function goBack() {
      window.location.assign(document.getElementById("goback").value);
    }

    function controllaValore() {
      var select = document.getElementById("type");

      var div = document.getElementById("div_p_o");
      if (["P", "O"].includes(select.value)) {
          div.style.display = "block"; // Mostra il tag
      } else {
          div.style.display = "none";  // Nascondi il tag
      }
  
    }

    controllaValore(); // <--- Chiamata immediata all'avvio
  </script>
{% endblock %}
