{% extends 'base.html' %}

{% block header %}
  <h4>{% block title %}Nuova disponibilità{% endblock %}</h4>
  
{% endblock %}

{% block content %}

  <form method="post">
    <table>
      <tr>
        <td><label for="people_ids">Collaboratori</label></td>
        <td><SELECT id="people_ids" name="people_ids" multiple size="10" required> 
              {% for people in anag_people %}
                <OPTION value={{people.id}}>{{people.name}}</option>
              {% endfor %}
            </SELECT>
        </td>
      </tr>
    </table>
    <br>
    <label for="start">Data inizio disponibilità</label>
    <input name="start" id="start" type="date" size="10" value="{{ sel_date }}" required>
    <br>
    <label for="end">Data fine disponibilità</label>
    <input name="end" id="end" type="date" size="10" value="{{ sel_date }}" required>
    <br>
    <input type="submit" value="Salva">
    <input class="action" style="height:30px; width:160px" type="button" onclick="goBack()" value="Annulla">
    <input name="goback" id="goback" value="{{ url_for('calendar.show_cal') }}" hidden>
  </form>
  <hr>
  <script>
    function goBack() {
      window.location.assign(document.getElementById("goback").value);
    }
</script>

{% endblock %}
