{% extends 'base.html' %}

{% block header %}

{% endblock %}
{% block content %}
<h4>Disponibilità collaboratori</h4>

<div class="table">
  <table>
    <tr>
      <td>{{ pagination.info }}</td>
    </tr>
    <tr>
      <td>{{ pagination.links }}</td>
      <td>
        <a href="{{ url_for('people_available.create') }}"><img src="static/images/add.jpg" alt="Nuova disponibilità" style="width:42px;height:42px;"></a>
      </td>
    </tr>
  </table>
</div>

  <div class="table-striped">
  <table>
    <!--<<th>Titolo</th><th>Inizio-Fine</th><th>Cliente</th><th>Sede</th><th></th>-->
    <th>Inizio-Fine</th><th>Collaboratore</th><th></th>
    {% for availability in availabilities %}
        <tr class="tr-alternate">
          <td>{{ availability['start'] }}<br/>{{ availability['end'] }}</td><td>{{ availability['name'] }}</td>
          <td>
            <a href="{{ url_for('people_available.detail', id=availability['id']) }}"><img src="static/images/detail.jpg" alt="Dettaglio" style="width:25px;height:25px;"></a>
            <br/>
            <a href="{{ url_for('people_available.update', id=availability['id']) }}"><img src="static/images/update.jpg" alt="Modifica" style="width:25px;height:25px;"></a>
            <br/>
            <a href="{{ url_for('people_available.duplicate', id=availability['id']) }}"><img src="static/images/duplicate.jpg" alt="Duplica" style="width:25px;height:25px;"></a>
          </td>
        </tr>
    {% endfor %}
  </table>
</div>
<div class="table">
  <table>
    <tr>
      <td>{{ pagination.links }}</td>
    </tr>
  </table>
</div>
  <form id="SearchForm" method="post">
    <div class="table">
    <table>
      <tr>
        <td>Data inizio</td>
        <td><input name="searchDate" id="searchDate" type="date" value="{{ request.form['searchDate'] }}"></td>
      </tr>
      <tr>
        <td>Collaboratore</td>
        <td><input name="searchPeople" id="searchPeople" size="12" type="text" value="{{ request.form['searchPeolpe'] }}"></td>        
      </tr>
      <tr>
        <td>
        <input type="submit" value="Cerca">
      </td>
      
        <td>
          <input type="button" onclick="resetSearch()" value="Ripristina">
        
          <a href="{{ url_for('people_available.create') }}"><img src="static/images/add.jpg" alt="Nuova disponibilità" style="width:42px;height:42px;"></a>
        </td>
      </tr>
    </table>
  </div>
  </form>
  
  <script>
    function resetSearch() {
      document.getElementById("searchDate").value = ""; 
      document.getElementById("searchPeople").value = "";
      document.getElementById("SearchForm").submit();
  }
  </script>
{% endblock %}