{% extends 'base.html' %}

{% block header %}
  <h4>{% block title %}Nuova scadenza{% endblock %}</h4>
  
{% endblock %}

{% block content %}

  <form method="post" onsubmit="afterSubmit()">
  <label for="schedule_type_id">Tipo</label>
  <SELECT id="schedule_type_id">
      {% for type in anag_type %}
          <OPTION value={{type.type_id}}>{{type.type_name}}</option>
      {% endfor %}
  </SELECT>
  <input name="input_schedule_type_id" id="input_schedule_type_id" hidden>
  <label for="description">Descrizione</label>
  <input name="description" id="description" value="{{ request.form['description'] }}">
  <label for="due_date">Data scadenza</label>
  <input name="due_date" id="due_date" type="date" size="10" value="{{ sel_date }}" required>
  <label for="notes">Note</label>
  <textarea name="notes" id="notes" rows="3">{{ request.form['notes'] }}</textarea>
  <br>
  <input type="submit" value="Salva">
  <input class="action" style="height:30px; width:160px" type="button" onclick="goBack()" value="Annulla">
  <input name="goback" id="goback" value="{{ url_for('cal_schedule.show_cal') }}" hidden>
  </form>
  <hr>
  <script>
    function goBack() {
      window.location.assign(document.getElementById("goback").value);
    }

    //Sono costretto a copiare la SELECT in un campo INPUT perché altrimenti non viene passata
    //nella request.form (non capisco perché i campi INPUT sì)
    function afterSubmit() {
      var new_schedule_type_id = document.getElementById("schedule_type_id").value;
      document.getElementById("input_schedule_type_id").value = new_schedule_type_id;
    }
  </script>

{% endblock %}
